  <div class="housework">
    <h3>家事を作成する</h3>
    <%= form_with(model: @housework, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <%= f.text_field :title, placeholder: "タイトル" %>
      <%= f.text_area :manner, placeholder: "やり方" %>
      <%= f.submit "作成する" %>
    <% end %>
  </div>