<!DOCTYPE html>
<html>
  <head>
    <title>SatohHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="top-page-header">
      <div class="site-title">
       <%= link_to "Satoh Home", root_path, class: "userList" %>
       </div>
    </header>
    <%= yield %>
  </body>
</html>
